/*
This stylesheet is applied after the theme's default one,
and thus any overrides or additions can be added here.

More info:
    http://sphinx-doc.org/extdev/appapi.html?highlight=add_stylesheet#sphinx.application.Sphinx.add_stylesheet
    https://github.com/snide/sphinx_rtd_theme/issues/117#issuecomment-41571653
*/

/* Reference admonition (otherwise this shows up as some warning/alert!) */
div.episode.admonition {
    /* needed so images don't bleed into episode box */
    clear:both;
    background-color: #c8edff;
}

/* hide search text (references py modules!) */
p.searchtip { visibility: hidden; }


/* Put box around captions */
.figure {
    display: table !important; /*!important needed to override more specific selecters in theme.css*/
    white-space: normal;
}
.caption {
    display: table-caption;
    caption-side: bottom;
    background-color: #e3e3e3;
    padding: 0px 10px 10px 10px;
    line-height: 16px;
    margin: 0;
}
/* end box */

/* ------------------------------------------------------------------------- */
/* Make alabaster dark. */
body {
    background-color: #111;
    color: #8D8D8D;
}

/* Lighter blue on dark background. */
a {
    color: #8888DD;
}

div.sphinxsidebar {
	/* The text wraps annoyingly if this isn't smaller. */
    font-size: 12px;
    color: #8D8D8D;
}

div.sphinxsidebar.h1 {
    color: #8D8D8D;
}

div.sphinxsidebar h2 {
    color: #8D8D8D;
}

div.sphinxsidebar h3 {
    color: #8D8D8D;
}

div.sphinxsidebar h4 {
    color: #8D8D8D;
}

div.sphinxsidebar body {
    color: #8D8D8D;
}

div.sphinxsidebar a {
    color: #8D8D8D;
}

div.body {
    background-color: #fff;
    color: #3E4349;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
}

/* When zoomed in, no sidebar. */
div.documentwrapper {
    border-radius: 8px;
}
