{% extends "!layout.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Podcast Feed" href="/rss/podcast.xml"/>
{% endblock %}

{% block sidebarlogo %}
<center>
<a href="index.html">
<img src="_static/sidebarlogo.png" width=200 height=144 />
</a>
</center>
{% endblock %}

{% block footer %}
<center>
    <p>
        <small>&copy; 2020 Conversations in Code Podcast<br>
            Email <a href="mailto:conversationsincode@gmail.com">conversationsincode@gmail.com</a>
        </small>
    </p>
</center>
{% endblock %}
